body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.45);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4em;
    top: 20%;
    bottom: 20%;
    background: linear-gradient(to right, #00FFE1 , #00FF66);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.45);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}


.palette {
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgba(0,0,0,0.45);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    font: 'Raleway', sans-serif;
}
